#nome{
    color: aqua;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color:#85baa1;
}
#texto{
    color: #373f47;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
#negrito{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}
#italico{
    font-style: oblique;
    font-family: serif;
    font-size: 25px;
}

.comunica{
    font-size: 20px;
}

.html{
    font-size: 25px;
}
.css{
    font-size: 15px;
}

.javascript{
    font-size: 30px;
}
